<strong>Recuperação de senha</strong>

<p>Foi solicitado uma recuperação de senha para o email: {{ email }}</p>
<p>Utilize o token: {{ token }}</p>
<p>Caso não tenha sido você, recomendamos que altere sua senha.</p>

<a href={{ link }}>Criar nova senha</a>
